<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">Hotel Management</h1>

    <ul>
        <li><a href="{{ url_for('room_list') }}"> All </a></li>
        {% for rt in room_type %}
        <li><a href="{{ url_for('room_list', room_type_id=rt.id) }}"> {{ rt.name }} </a></li>
        {% endfor %}
    </ul>
</body>
</html>